
/* Estilos restantes */
.titulocard {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(135deg, #f9f9f9, #e0e0e0);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.titulocard h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #333;
    text-align: center;
    font-size: 1.6em;
    margin: 0;
}

/* Container dos cards */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;
}

/* Estilos dos cards */
.dicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 20px;
    background: #ffffff;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 1px solid #e0e0e0;
}

.dicas.expanded {
    height: auto;
}

.dicas:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    background-color: #f0f8ff;
}

.dicas img {
    height: 120px;
    width: auto;
    margin-bottom: 15px;
    filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.2));
}

.card-title {
    font-family: "Montserrat", sans-serif;
    margin: 10px 0;
    color: #07998d;
    font-size: 1.4em;
    text-align: center;
}

/* Cards descrição e exemplo */
.card-description,
.card-examples {
    color: #666;
    font-size: 0.9em;
    text-align: center;
    margin: 10px 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

/* Ajustes para a descrição */
.card-description {
    display: block;
    max-height: 200px; /* Ajustado para um valor fixo */
    overflow: hidden;
    opacity: 1; /* Opacidade padrão */
}

/* Ajustes para o exemplo */
.card-examples {
    display: block;
    max-height: 200px; /* Ajustado para um valor fixo */
    overflow: hidden;
    opacity: 1; /* Opacidade padrão */
}

/* Responsividade */
@media (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}

@media (max-width: 480px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}
