/* Footer.css */

footer.container {
    background-color: #009A8E; /* Cor de fundo do rodapé */
    color: #FFF; /* Cor do texto */
    padding: 2rem;
    margin-top: 6rem;
}

footer .links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h4 {
    margin-bottom: 1rem;
    color: #FFF; /* Garantir que os títulos também sejam brancos */
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 0.5rem;
    color: #FFF; /* Garantir que o texto dos itens da lista seja branco */
    display: flex; /* Adiciona flexbox para alinhamento dos itens */
    justify-content: space-between; /* Alinha o dia e o horário */
    font-size: 0.9rem; /* Ajusta o tamanho da fonte para melhor aparência */
}

footer ul li span {
    display: inline-block;
    color: #FFF; /* Garantir que o texto dentro dos spans seja branco */
    margin-left: 1rem; /* Adiciona espaço entre o dia e o horário */
}

footer a {
    color: #FFF; /* Garantir que os links sejam brancos */
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer a:hover {
    text-decoration: underline; /* Substitua pelo estilo de destaque desejado */
}

footer .logo-img {
    max-width: 30rem;
    height: auto;
}

/* .social-icons ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .social-icons ul li {
    margin-right: 10px;
  }
  
  .social-icons ul li a {
    font-size: 1.5em;
    color: #ffffff;
  }
  
  .social-icons ul li a:hover {
    color: #fcc931; /* Cor de exemplo para hover 
   */

@media (max-width: 768px) {
    footer .links ul a {
        flex-direction: column;
        text-align: center;
    }

    footer .logo-img {
        margin: 0 auto 1rem;
    }

    footer ul li {
        flex-direction: column;
        align-items: center;
    }
}



/* Container dos ícones */
/* Estilo básico para os ícones sociais */
.social-icons {
    display: flex;
  }
  
  .social-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .social-icons ul li {
    display: flex;
  }
  
  .social-icons ul li a {
    font-size: 25px;
    transition: transform 0.3s, opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Ajuste o tamanho conforme necessário */
    height: 40px; /* Ajuste o tamanho conforme necessário */
    text-decoration: none; /* Remove o sublinhado do link */
  }
  
  
  
  