.hero.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-size: cover;
    color: #FFF;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
    margin-top: 8rem;
  }
  
  
  .hero .banner h1 {
    font-size: 2.5rem;
  }
  
  .hero .banner p {
    font-size: 1.25rem;
    margin-top: 1rem;

  }
  
  .animated-image {
    max-width: 100%;
    height: auto;
  }
  .emergencia {
    margin-top: 20px;

  }
  
  .emergencia h6 {
    font-size: 1.2em;
    color: #07998d;
    margin-bottom: 10px;
  }
  
  .emergencia-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 10px;
    background-color: #07998d; /* vermelho */
    color: rgb(255, 255, 255); /* branco1 */
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5em;
  }
  .emergencia-button a {
    
    border: none;
    text-decoration: none;
    color: #FFF;
    
  }
  
  .emergencia-button:hover {
    background-color: #a12d26; /* Um tom mais escuro de vermelho */
  }
  
  .emergencia-button svg {
    margin-right: 10px;
  }