@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");



::-webkit-scrollbar {
  width: 12px;
  /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #e5e5e5;
  /* Cor de fundo da trilha */
}

::-webkit-scrollbar-thumb {
  background: #07998d74;
  /* Cor do "polegar" (a parte que se move) */
  border-radius: 4px;
  /* Bordas arredondadas do "polegar" */
}

::-webkit-scrollbar-thumb:hover {
  background: #07998d;
  /* Cor do "polegar" quando passa o mouse por cima */
}

/* Estilização do body para o tema escuro */
body[data-theme='dark'] {
  background: #121212;
  color: #e5e5e5;
}



/* Estilização da seção do Dashboard */
body[data-theme='dark'] .dashboard {
  background: #1e1e1e;
  color: #e5e5e5;
}

/* Estilização do banner no tema escuro */
body[data-theme='dark'] .dashboard .banner {
  background: #1e1e1e;
}

/* Estilização do conteúdo dentro do banner no tema escuro */
body[data-theme='dark'] .dashboard .banner .content {
  color: #e5e5e5;
}


/* Estilização da tabela no tema escuro */
body[data-theme='dark'] .dashboard table {
  color: #e5e5e5;
}

/* Estilização das cabeçalhos da tabela no tema escuro */
body[data-theme='dark'] .dashboard table thead {
  color: #e5e5e5;
}


/* Estilização das opções selecionadas no tema escuro */
body[data-theme='dark'] .dashboard select {
  background: #333333;
  color: #e5e5e5;
  border: 1px solid #444444;
}

/* Estilização das opções do select no tema escuro */
body[data-theme='dark'] .dashboard select option {
  background: #1e1e1e;
  color: #e5e5e5;
}






/* Estilização da seção da página */
body[data-theme='dark'] .page {
  background: #1e1e1e;
  color: #e5e5e5;
}

body[data-theme='dark'] .form-component {
  background: #333;
  color: #ddd;
}

body[data-theme='dark'] .form-component input,
body[data-theme='dark'] .add-doctor-form form input,
body[data-theme='dark'] .add-availability form input,
body[data-theme='dark'] .add-availability form textarea,
body[data-theme='dark'] .add-doctor-form form select,
body[data-theme='dark'] .add-admin-form form select,
body[data-theme='dark'] .add-doctor-form form textarea,
body[data-theme='dark'] .form-component textarea,
body[data-theme=""] .form-component form select {
  background: #444;
  color: #ddd;
  border: 1px solid #4e8d8d;
}

/* Estilo para quando o campo está em foco no tema escuro */
body[data-theme='dark'] .form-component input:focus,
body[data-theme='dark'] .add-doctor-form form input:focus,
body[data-theme='dark'] .add-availability form input:focus,
body[data-theme='dark'] .add-availability form textarea:focus,
body[data-theme='dark'] .add-admin-form form select:focus,
body[data-theme='dark'] .add-doctor-form form select:focus,
body[data-theme='dark'] .add-doctor-form form textarea:focus,
body[data-theme='dark'] .form-component input:focus,
body[data-theme='dark'] .form-component textarea:focus {
  border-color: #377575;
  /* Cor da borda ao focar */
  background: #555;
  /* Cor de fundo ao focar */
  box-shadow: 0 0 5px rgba(13, 100, 130, 0.5);
  /* Sombra ao focar */
  outline: none;
  /* Remove o contorno padrão do navegador */
}

/* Estilização do contêiner do formulário */
body[data-theme='dark'] .container.add-doctor-form {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
}

/* Estilização do título do formulário */
body[data-theme='dark'] .form-title {
  color: #e5e5e5;
  margin-bottom: 20px;
}

/* Estilização dos inputs e selects
body[data-theme='dark'] input[type="text"],
body[data-theme='dark'] input[type="email"],
body[data-theme='dark'] input[type="date"],
body[data-theme='dark'] input[type="password"],
body[data-theme='dark'] select {
  background: #333333;
  color: #e5e5e5;
  border: 1px solid #444444;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
} */

/* Estilização das opções do select */
body[data-theme='dark'] select option {
  background: #1e1e1e;
  color: #e5e5e5;
}

/* Estilização dos botões */
body[data-theme='dark'] button[type="submit"] {
  background: #047269;
  color: #e5e5e5;
  border: none;
  cursor: pointer;
}

body[data-theme='dark'] button[type="submit"]:hover {
  background: #023733;
}

/* Estilização do body para o tema escuro */
body[data-theme='dark'] {
  background: #121212;
  color: #e5e5e5;
}

/* Estilização da seção da página */
body[data-theme='dark'] .page {
  background: #1e1e1e;
  color: #e5e5e5;
}

/* Estilização do contêiner do formulário */
body[data-theme='dark'] .container.add-admin-form {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
}

/* Estilização do título do formulário */
body[data-theme='dark'] .form-title {
  color: #e5e5e5;
  margin-bottom: 20px;
}

/* Estilização dos inputs e selects
body[data-theme='dark'] input[type="text"],
body[data-theme='dark'] input[type="number"],
body[data-theme='dark'] input[type="date"],
body[data-theme='dark'] input[type="password"],
body[data-theme='dark'] select {
  background: #333333;
  color: #e5e5e5;
  border: 1px solid #444444;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
} */

/* Estilização das opções do select */
body[data-theme='dark'] select option {
  background: #1e1e1e;
  color: #e5e5e5;
}

/* Estilização dos botões */
body[data-theme='dark'] button[type="submit"] {
  background: #047269;
  color: #e5e5e5;
  cursor: pointer;
}

body[data-theme='dark'] button[type="submit"]:hover {
  background: #023733;
}

/* Estilização do layout do formulário */
body[data-theme='dark'] form>div {
  margin-bottom: 15px;
}

body[data-theme='dark'] form>div>div {
  display: flex;
  flex-direction: column;
}

/* Centraliza o botão */
body[data-theme='dark'] .form-component>div {
  display: flex;
  justify-content: center;
  align-items: center;
}


body[data-theme='dark'] input[type="file"] {
  margin-top: 10px;
}


/* Estilização do contêiner principal do componente */
body[data-theme='dark'] .add-availability {
  background: #1e1e1e;
  color: #e5e5e5;
  padding: 20px;
  min-height: 100vh;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Estilização do contêiner do formulário */
body[data-theme='dark'] .form-container {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Estilização do título do formulário */
body[data-theme='dark'] .form-container h1 {
  color: #e5e5e5;
  margin-bottom: 20px;
}

/* Estilização dos inputs e textarea
body[data-theme='dark'] input[type="date"],
body[data-theme='dark'] textarea {
  background: #333333;
  color: #e5e5e5;
  border: 1px solid #444444;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
} */

/* Estilização do botão do formulário */
body[data-theme='dark'] button[type="submit"] {
  background: #047269;
  color: #e5e5e5;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

body[data-theme='dark'] button[type="submit"]:hover {
  background: #023733;
}

/* Estilização dos horários adicionados */
body[data-theme='dark'] .added-times {
  margin-top: 20px;
}

/* Estilização do título dos horários adicionados */
body[data-theme='dark'] .added-times h2 {
  color: #e5e5e5;
  margin-bottom: 10px;
}

/* Estilização do grupo de disponibilidade */
body[data-theme='dark'] .availability-group {
  margin-bottom: 15px;
}

/* Estilização do cabeçalho do grupo de disponibilidade */
body[data-theme='dark'] .availability-header {
  background: #333333;
  color: #e5e5e5;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilização dos itens de disponibilidade */
body[data-theme='dark'] .availability-items {
  background: #1e1e1e;
  padding: 10px;
  border-radius: 4px;
}

/* Estilização dos itens individuais de disponibilidade */
body[data-theme='dark'] .availability-item {
  margin-bottom: 10px;
  background-color: #4b4b4b;
}



body[data-theme='dark'] .edit-btn:hover {
  opacity: 0.7;
}

body[data-theme='dark'] .delete-btn:hover {
  opacity: 0.7;
}




/* Estilização do card de cada médico */
body[data-theme='dark'] .card {
  background: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}



/* Estilização dos títulos e informações do médico */
body[data-theme='dark'] .card .info h4,
body[data-theme='dark'] .card .info p {
  color: #e5e5e5;
}

/* Estilização dos botões de edição e exclusão */
body[data-theme='dark'] .btn-edit,
body[data-theme='dark'] .btn-delete {
  color: #e5e5e5;
}

body[data-theme='dark'] .btn-edit:hover {
  color: #16a34a;
}

body[data-theme='dark'] .btn-delete:hover {
  color: #e57373;
}

/* Estilização do formulário de edição do médico */
body[data-theme='dark'] .edit-form {
  background: #2b2b2b;
}

/* Estilização do título do formulário de edição */
body[data-theme='dark'] .edit-form h2 {
  color: #e5e5e5;
}

/* Estilização dos inputs e do seletor do formulário de edição */
body[data-theme='dark'] input,
body[data-theme='dark'] select,
textarea {
  background: #333333;
  color: #e5e5e5;
  border: 1px solid #444444;
}

/* Estilização do botão do formulário de edição */
body[data-theme='dark'] .edit-form button {
  background: #047269;
  color: #e5e5e5;
}



body[data-theme='dark'] .edit-form button:hover {
  background: #023733;
}

/* Estilização do botão de cancelar no formulário de edição */
body[data-theme='dark'] .edit-form button[type="button"] {
  background: #c0392b;
}

body[data-theme='dark'] .edit-form button[type="button"]:hover {
  background: #d32f2f;
}



/* Estilização do card de cada mensagem */
body[data-theme='dark'] .cardmensagem {
  background: #1e1e1e;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilização dos detalhes da mensagem */
body[data-theme='dark'] .detalhesmensagem {
  color: #e5e5e5;
  flex: 1;
}

/* Estilização das estrelas de avaliação */
body[data-theme='dark'] .detalhesmensagem span {
  color: #e5e5e5;
  /* Cor das estrelas */
}

/* Estilização do botão de exclusão */
body[data-theme='dark'] .delete-buttonmensagem {
  color: #e5e5e5;
}

body[data-theme='dark'] .delete-buttonmensagem:hover {
  color: #d32f2f;
}

/* Estilização do título */
body[data-theme='dark'] h1 {
  color: #e5e5e5;
}

/* Estilização do texto vazio */
body[data-theme='dark'] h1 {
  color: #e5e5e5;
}

body[data-theme='dark'] .modal-content {
  background: #2b2b2b;
}





body[data-theme='dark'] .modal-content p {
  color: #e5e5e5;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #07998d;
}



.container {
  padding: 0 100px;
}

@media (max-width: 700px) {
  .container {
    padding: 0 20px;
  }
}

.page {
  margin-left: 120px;
  background: #e5e5e5;
  padding: 40px;
  height: 100vh;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

@media (max-width: 1208px) {
  .page {
    margin-left: 0;
    border-radius: 0;
  }

  .add-availability {
    margin-left: 0;
    border-radius: 0;
  }
}

@media (max-width: 485px) {
  .page {
    padding: 40px 20px;
  }
}

@media (max-width: 460px) {
  .logo {
    width: 100%;
  }
}

.form-title {
  font-size: 1.75rem;
  color: #07998d;
  margin-bottom: 30px;
}

.form-component {
  padding-top: 40px;
  padding-bottom: 60px;
  min-height: 100vh;
  background: #e5e5e5;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-component h2 {
  color: 07998d;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

.form-component h4 {
  color: gray;
  font-weight: 700;
  margin-bottom: 20px;
}

.form-component p {
  max-width: 750px;
  color: gray;
  margin-bottom: 20px;
  text-align: center;
}

.form-component form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 550px;
}

.add-admin-form form {
  width: 100%;
}

.add-admin-form button:hover {
  background: linear-gradient(140deg, #10ac9c, #0a4e42d7);
  /* Azul-verde */

}

.form-component p:first-child {
  font-size: 28px;
  font-weight: 700;
  color: #FCC931;
  margin-top: 30px;
}

.form-component form div {
  display: flex;
  gap: 30px;
}

.form-component form input,
.form-component form select,
.form-component form textarea {
  flex: 1;
  font-size: 24px;
  padding: 10px 10px 10px 40px;
  border-radius: 7px;
  border: 1px solid #009688;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
  border: 2px solid #009688;
  box-shadow: 0 0 5px #004d40;
  outline: none;
}

#status:focus{
  box-shadow: 0 10 5px #ffffff;
  border: #fff;
  outline: none;
}


.form-component button {
  padding: 10px 35px;
  color: #fff;
  font-weight: 700;
  width: fit-content;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  margin-bottom: 30px;
  background: linear-gradient(140deg, #009688, #004d40);
  /* Azul-verde */
  cursor: pointer;
}

.form-component .wrapper {
  display: flex;
  gap: 50px;
}

.form-component .wrapper .banner {
  flex: 1;
}

.form-component .wrapper .banner:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-component .wrapper .banner:last-child img {
  max-width: 450px;
}

@media (max-width: 888px) {
  .form-component {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .form-component form div {
    flex-direction: column;
  }
}

@media (max-width: 667px) {

  .form-component form input,
  .form-component form select,
  .form-component form textarea {
    font-size: 20px;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .form-component form {
    width: 100%;
  }
}

@media (max-width: 485px) {
  .add-admin-form {
    padding: 30px 0;
  }
}







/*dashboard =========================================================================*/



.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard .banner:first-child {
  height: 35vh;
  display: flex;
  gap: 20px;
}

.dashboard .banner:first-child .firstBox {
  flex: 2;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: #07998dc0;
  padding: 20px 20px 0 10px;
}

.dashboard .banner:first-child .firstBox img {
  height: 100%;
  flex: 1;
}

.dashboard .banner:first-child .firstBox .content {
  flex: 2;
}

.dashboard .banner:first-child .firstBox .content div {
  display: flex;
  align-items: center;
  font-size: 34px;
  margin-bottom: 12px;
}

.dashboard .banner:first-child .firstBox .content div p {
  margin-right: 10px;
  font-size: 34px;
}

button.infodetalhes {
  background-color: #009A8E;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  color: white;
  border: none;
}

button.infodetalhes:hover {
  background-color: #007D78;
  transition: background-color 0.3s;


}




.dashboard .banner:first-child .firstBox .content div h5 {
  color: #023733;
}

.dashboard .banner:first-child .firstBox .content p {
  font-size: 16px;
}

.dashboard .banner:first-child .secondBox {
  background: #07998d;
  color: #fff;
}

.dashboard .banner:first-child .thirdBox {
  color: #07998d;
  background: #fff;
}

.dashboard .banner:first-child .secondBox,
.dashboard .banner:first-child .thirdBox {
  flex: 1;
  border-radius: 20px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.dashboard .banner:first-child .secondBox p,
.dashboard .banner:first-child .thirdBox p {
  font-size: 24px;
  font-weight: 600;
}

.dashboard .banner:first-child .secondBox h3,
.dashboard .banner:first-child .thirdBox h3 {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
}

.dashboard .banner:last-child {
  height: 65vh;
  background: #fff;
  border-radius: 20px;
  padding: 40px;
}

.dashboard .banner:last-child h5 {
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #FFCC01;
}


.dashboard .banner table {
  width: 100%;
  color: #111;
  font-size: 20px;
}

.dashboard .banner table select {
  font-size: 20px;
  border: none;
  width: 100%;
  font-weight: 600;
}

.dashboard table td svg {
  display: flex;
  margin: 0 auto;
}

.dashboard table td .green {
  font-size: 20px;
  color: #16a34a;
}

.dashboard table td .red {
  font-size: 20px;
  color: #dc2626;
}

.dashboard .banner table select:focus {
  border: none;
}

.dashboard .banner table .value-pending {
  color: #eab308;
}

.dashboard .banner table .value-accepted {
  color: #16a34a;
}

.dashboard .banner table .value-rejected {
  color: #dc2626;
}

.dashboard .banner table thead {
  text-align: justify;
  padding: 12px 0;
}

.dashboard .banner table thead th {
  padding: 12px 0;
}

.dashboard .banner table tbody td {
  padding: 12px 0;
}


/* Overlay for the modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  /* Slightly darker background for better focus */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal container */
.modal-content {
  background-color: #009A8E;
  padding: 24px;
  /* Increased padding for more spacious layout */
  border-radius: 8px;
  width: 500px;
  /* Slightly wider for better content presentation */
  max-width: 90%;
  /* Responsive width */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  /* Softer and more extensive shadow */
  position: relative;
  /* To position close button properly */
}

/* Modal header */
.modal-content h3 {
  margin-top: 0;
  font-size: 1.5em;
  /* Larger font size for header */
  color: #333;
  /* Darker text color for better readability */
}

/* Modal text paragraphs */
.modal-content p {
  margin: 12px 0;
  font-size: 1em;
  color: #555;
  /* Slightly lighter text color */
}

/* Button for details */
.details-btn {
  background-color: #023733;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-right: 8px;
  transition: background-color 0.3s;
  /* Smooth transition for hover effect */
}

.details-btn:hover {
  background-color: #0056b3;
  /* Darker blue for hover effect */
}

/* Button for delete icon */
.delete-icon {
  color: #dc3545;
  cursor: pointer;
  font-size: 1.2em;
  /* Larger icon for better visibility */
  transition: color 0.3s;
  /* Smooth transition for hover effect */
}

.delete-icon:hover {
  color: #c82333;
}




@media (max-width: 1376px) {

  .dashboard .banner:first-child .firstBox .content div,
  .dashboard .banner:first-child .firstBox .content div p {
    font-size: 26px;
  }

  .dashboard .banner:first-child .firstBox .content p {
    font-size: 14px;
  }

  .dashboard .banner:first-child .secondBox p,
  .dashboard .banner:first-child .thirdBox p,
  .dashboard .banner:first-child .secondBox h3,
  .dashboard .banner:first-child .thirdBox h3 {
    font-size: 20px;
  }
}

@media (max-width: 1020px) {
  .dashboard {
    height: fit-content;
  }

  .dashboard .banner:first-child,
  .dashboard .banner:last-child {
    flex-wrap: wrap;
    height: fit-content;
  }

  .dashboard .banner:first-child .firstBox {
    flex: none;
    width: 100%;
    height: 265px;
  }

  .dashboard .banner:first-child .secondBox,
  .dashboard .banner:first-child .thirdBox {
    height: 175px;
  }
}

@media (max-width: 620px) {

  .dashboard .banner:first-child .secondBox,
  .dashboard .banner:first-child .thirdBox {
    width: 100%;
    flex: none;
  }
}

@media (max-width: 485px) {
  .dashboard .banner:first-child .firstBox {
    flex-direction: column;
    height: fit-content;
    padding: 20px;
  }

  .dashboard .banner:first-child .firstBox img {
    width: 270px;
    height: 270px;
    margin-bottom: 25px;
  }

  .dashboard .banner:first-child .firstBox div {
    justify-content: center;
  }
}

/* Estilização da barra lateral */
.sidebar {
  position: fixed;
  width: 120px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  align-items: center;
  color: #fff;
  padding: 70px 0;
  z-index: 2;
  /* Garante que o botão esteja acima de outros conteúdos */

}

/* Estilização dos ícones na barra lateral */
.sidebar svg {
  width: 50px;
  height: 50px;
  font-size: 34px;
}

#tema svg {
  width: 25px;
  height: 25px;
  font-size: 10px;
}


/* Efeito de hover para os ícones */
.sidebar svg:hover {
  color: #FCC931;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}


/* Estilo para ícones ativos */
.sidebar .active {
  color: #FCC931;
  /* Cor amarela para o ícone ativo */
  transition: color 0.3s;
  /* Transição suave para a cor */
}


/* Layout dos links na barra lateral */
.sidebar .links {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Estilização do botão de alternância de tema */
.themeToggleBtn {
  position: absolute;
  background-color: transparent;
  border: none;
  /* Distância do topo */
  color: #fff;
  /* Cor do ícone */
  font-size: 1px;
  /* Tamanho do ícone */
  margin-left: 0px;
  right: 2.9rem;
  cursor: pointer;
  margin-top: 2rem;


}





/* Estilização da barra lateral quando oculta */
.sidebar {
  display: none;
}

/* Estilização do botão hamburger */
.wrapper {
  display: none;
}

.wrapper .hamburger {
  display: none;
}

@media (max-width: 1208px) {
  .sidebar {
    background: #07998dc0;
    left: -100%;
    transition: 0.3s;
  }

  .show {
    left: 0;
    transition: 0.3s;
  }

  .wrapper {
    display: block;
    position: fixed;
    top: 30px;
    left: 40px;
    font-size: 34px;
    background: #07998dc0;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    /* Garante que o botão esteja acima de outros conteúdos */

  }

  .wrapper .hamburger {
    display: block;
  }



}

@media (max-width: 485px) {
  .wrapper {
    left: 20px;
  }

  .show {
    width: 80px;
  }
}

/*DOUTORES*/
/* Estilização do título */
.doctors h1 {
  color: #07998dc0;
  margin-bottom: 30px;
  font-size: 2rem;
  /* Tamanho do título */
  text-align: center;
  /* Alinha o título ao centro */
}

/* Estilização do banner que contém os cartões dos médicos */
.doctors .banner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
  /* Adiciona padding superior e inferior ao banner */
}

/* Estilização do cartão dos médicos */
.doctors .banner .card {
  background: #07998d36;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 350px;
  text-align: center;
  position: relative;
  /* Necessário para o posicionamento absoluto dos ícones */
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  /* Adiciona margem inferior aos cards para espaçamento */
  transition: transform 0.3s ease;
  /* Transição suave para o efeito de hover */
}

/* Estilização do hover do cartão */
.doctors .banner .card:hover {
  transform: scale(1.02);
  /* Levemente amplia o card ao passar o mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  /* Intensifica a sombra ao passar o mouse */
}

/* Estilização da imagem do avatar */
.doctors .banner .card img {
  width: 120px;
  /* Ajustado para um tamanho mais adequado */
  height: 120px;
  /* Ajustado para um tamanho mais adequado */
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: solid 3px #07998d;
  position: relative;
  align-self: center;
  /* Alinha a imagem ao centro do cartão */
}

/* Estilização das informações dentro do cartão */
.doctors .banner .card .info {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* Garante que o texto dentro dos dados esteja alinhado à esquerda */
}

/* Estilização do nome dentro do cartão */
.doctors .banner .card h4 {
  font-size: 18px;
  /* Tamanho do nome ajustado para ser mais visível */
  color: #023733;
  margin: 10px 0;
  /* Espaço acima e abaixo do nome */
  font-weight: 800;
  text-align: center;
  /* Alinha o nome ao centro */
}

/* Estilização das informações dentro do cartão */
.doctors .banner .card .info p {
  font-size: 14px;
  /* Tamanho da fonte para informações */
  margin: 5px 0;
  /* Espaçamento entre parágrafos */
  font-weight: 600;
  display: flex;
  justify-content: start;
  /* Alinha os dados ao canto direito */
}

/* Estilização dos spans dentro das informações */
.doctors .banner .card .info span {
  font-weight: 400;
  /* Peso da fonte para o texto normal */
  margin-left: 5px;
  /* Espaçamento entre o rótulo e o valor */
}


/* Estilização dos ícones de editar e excluir */
.card .btn-edit,
.card .btn-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #004d40; /* Azul-verde escuro */
  font-weight: 600;
  cursor: pointer;
  font-size: 1.2em;
  padding: 4px;
  transition: color 0.3s;
}

.card .btn-edit {
  margin-right: 30px;
}

.card .btn-edit:hover {
  color: #009688; /* Azul-verde */
}

.card .btn-delete:hover {
  color: #00796b; /* Azul-verde mais escuro */
}

/* Estilização da seção de edição dos doutores */
.edit-form {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
}

/* Estilização do título do formulário de edição */
.edit-form h2 {
  margin-bottom: 20px;
  color: #004d40; /* Azul-verde escuro */
}

/* Estilização do formulário de edição */
.edit-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Estilização dos campos de entrada do formulário */
.edit-form select,
input[type="text"],
.edit-form input[type="email"],
.edit-form input[type="date"],
.edit-form input[type="file"] {
  padding: 10px;
  border: 1px solid #009688; /* Azul-verde */
  border-radius: 4px;
  width: 100%;
}

input[type="file"] {
  padding: 10px;
}

input[type="file"] button {
  background: #009688; /* Azul-verde */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 500;
  margin-left: 10px;
}

input[type="file"] button:hover {
  background: #00796b; /* Azul-verde mais escuro */
}

/* Estilização dos botões do formulário */
.edit-form button {
  background: #009688; /* Azul-verde */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 500;
}

.edit-form button[type="button"] {
  color: #fff;
}

.edit-form button:hover {
  opacity: 0.8;
}

/* Modal container */
.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo semitransparente */
  justify-content: center;
  align-items: center;
}

/* Modal content */
.modal-content {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  position: relative;
}

.modal-content h3 {
  color: #004d40; /* Azul-verde escuro */
  font-size: 24px;
  font-weight: 700;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* Estilos específicos para o formulário dentro do modal */
.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmation-modal-content {
  background: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
}

.confirmation-buttons {
  margin-top: 20px;
}

.confirmation-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation-buttons button:first-child {
  background: #e74c3c;
  color: #fff;
}

.confirmation-buttons button:last-child {
  background: #95a5a6;
  color: #fff;
}


.department-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.department-section select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.department-section button {
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.department-section button:hover {
  background-color: #059877;
}

.added-departments {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.department-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  border-radius: 4px;
}

.remove-department-button {
  background: none;
  border: none;
  color: #c0392b;
  cursor: pointer;
  font-size: 1.2em;
  transition: color 0.3s;
}

.remove-department-button:hover {
  color: #e74c3c;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-buttons button {
  background-color: #07998d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.modal-buttons button[type="button"] {
  background-color: #ff2b2b;
}

.modal-buttons button:hover {
  opacity: 0.8;
}





/*ADD DOUTORES================================================*/
.add-doctor-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 0;
}

.add-doctor-form form {
  width: 100%;
}

.add-doctor-form form .first-wrapper {
  display: flex;
  gap: 30px;
}

.add-doctor-form form .first-wrapper div:first-child {
  flex: 1;
}

.add-doctor-form form .first-wrapper div:first-child img {
  width: 100%;
  height: 515px;
  margin-bottom: 20px;
}

.add-doctor-form form .first-wrapper div:first-child input {
  width: 100%;
  padding: 10px;
}

.add-doctor-form form .first-wrapper div:first-child input:file-selector-button {
  position: absolute;
  width: 100%;
}

.add-doctor-form form .first-wrapper div:last-child {
  flex: 2;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.add-doctor-form form input,
.add-doctor-form form select,
.add-doctor-form form textarea {
  flex: 1;
  font-size: 24px;
  padding: 10px 10px 10px 40px;
  border-radius: 7px;
  border: 1px solid #009688;
  /* Azul-verde */
}

.add-doctor-form button {
  padding: 10px 35px;
  color: #fff;
  font-weight: 700;
  width: fit-content;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  margin-bottom: 30px;
  background: linear-gradient(140deg, #009688, #004d40);
  /* Azul-verde */
  cursor: pointer;
}

.add-doctor-form button:hover {
  background: linear-gradient(140deg, #10ac9c, #0a4e42d7);
  /* Azul-verde */

}


@media (max-width: 945px) {
  .add-doctor-form form .first-wrapper {
    flex-direction: column;
  }

  .add-doctor-form form .first-wrapper div:first-child img {
    height: auto;
  }
}

/* Adiciona estilos para a seção de departamentos */
.add-doctor-form .tags-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.add-doctor-form .tags-input p {
  font-size: 18px;
  font-weight: 600;
  color: #009688;
  /* Azul-verde escuro */
  margin-bottom: 10px;
}

.add-doctor-form .tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.add-doctor-form .tags-container .tag {
  background-color: #00796b;
  /* Azul-verde */
  color: #fff;
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-doctor-form .tags-container .tag .cloe {
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}

.add-doctor-form select {
  border: 1px solid #009688;
  /* Azul-verde escuro */
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.add-doctor-form select option {
  color: #000000;
  /* Azul-verde escuro */
}










input[type="date"]:before {
  content: attr(placeholder);
  color: rgb(128, 128, 128);
  margin-right: 0.5em;
}

input[type="time"]:before {
  content: attr(placeholder);
  color: rgb(128, 128, 128);
  margin-right: 0.5em;
}




/*ADD AVAILABILITY========*/

.add-availability {
  min-height: 100vh;
  background: #e5e5e5;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-container {
  flex: 2;
}

.add-availability h1,
h2 {
  font-size: 2rem;
  color: #07998d;
  margin-bottom: 20px;
}

.add-availability form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 0;
}

.add-availability form input,
.add-availability form textarea {
  width: 50%;
  padding: 15px;
  font-size: 16px;
  border-radius: 7px;
  border: 1px solid #009688;
  background-color: #fff;
}

.add-availability form textarea {
  height: 100px;
}

.add-availability form button {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(140deg, #009688, #004d40);
  /* Azul-verde */
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-availability form button:hover {
  background: linear-gradient(140deg, #10ac9c, #0a4e42d7);
  /* Azul-verde */
}

.add-availability .added-times {
  flex: 2;
  max-height: 100vh;
  overflow-y: auto;
}

.add-availability .availability-group {
  margin-bottom: 10px;
}

.add-availability .availability-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: #07998d;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
}

.add-availability .availability-items {
  padding: 10px;
}

.add-availability .availability-item {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-btn,
.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #16a34a;
  font-size: 16px;
  margin-left: 10px;
}

.delete-btn {
  color: #d9534f;
  /* Cor para o botão de exclusão */
}



.edit-btn:hover,
.delete-btn:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .add-availability {
    padding: 20px;
    flex-direction: column;
  }

  .add-availability form input,
  .add-availability form textarea {
    font-size: 14px;
  }

  .add-availability form button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {

  .add-availability form input,
  .add-availability form textarea {
    width: 100%;
  }
}










.delete-icon {
  color: #DC2626;
  cursor: pointer;
}

.delete-icon:hover {
  opacity: 0.99;
}

/* Messages */

h1 {
  color: #07998dc0;
  margin-bottom: 30px;
  font-size: 2rem;
  text-align: center;
}

.bannermensagem {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cardmensagem {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  position: relative;
  /* Removido para usar o contêiner adicional */
  overflow: hidden;
  /* Garante que o conteúdo não ultrapasse o cartão */
  transition: transform 0.3s ease;
}

.cardmensagem:hover {
  transform: translateY(-5px);
}

.cardmensagem .delete-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  /* Garante que o botão esteja acima de outros conteúdos */
}

.detalhesmensagem p {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #009A8E;
  font-weight: bold;
}

.detalhesmensagem span {
  color: #555;
  font-weight: 500;
}

.delete-buttonmensagem {
  background: none;
  border: none;
  cursor: pointer;
  color: #e74c3c;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.delete-buttonmensagem:hover {
  color: #c0392b;
}

@media (max-width: 768px) {
  .cardmensagem {
    width: 100%;
  }
}