@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


::-webkit-scrollbar {
  width: 12px;
  /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #e5e5e5;
  /* Cor de fundo da trilha */
}

::-webkit-scrollbar-thumb {
  background: #07998d74;
  /* Cor do "polegar" (a parte que se move) */
  border-radius: 4px;
  /* Bordas arredondadas do "polegar" */
}

::-webkit-scrollbar-thumb:hover {
  background: #07998d;
  /* Cor do "polegar" quando passa o mouse por cima */
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}


body[data-theme='light'] {
  background: #e5e5e5;
  color: #333;
}

/* Estilização do body para o tema escuro */
body[data-theme='dark'] {
  background: #121212;
  color: #e5e5e5;
}

/* Estilização da navegação para o tema escuro */
body[data-theme='dark'] nav {
  background: #2b2b2b;
  color: #e5e5e5;
}

/* Links no tema escuro */
body[data-theme='dark'] a {
  color: #e5e5e5;
}

/* Botões no tema escuro */
body[data-theme='dark'] .btn {
  filter: brightness(95%);
}

/* Estilo dos botões com fundo branco no tema escuro */
body[data-theme='dark'] .white-btn {
  background: #444;
  color: #fff;
}

/* Estilo dos campos de entrada no tema escuro */
body[data-theme='dark'] .form-component {
  border: 2px solid #4e8d8d;
  background: #333;
  color: #ddd;
}

body[data-theme='dark'] .form-component input,
body[data-theme='dark'] .form-component select,
body[data-theme='dark'] .form-component select,
body[data-theme='dark'] .form-component textarea {
  background: #444;
  color: #ddd;
  border: 1px solid #4e8d8d;
}

/* Estilo dos botões dentro do formulário no tema escuro */
body[data-theme='dark'] .form-component button {
  background: linear-gradient(140deg, #009688, #004d40);
}

/* Estilo do rodapé no tema escuro */
body[data-theme='dark'] footer {
  background: #2b2b2b;
  color: #e5e5e5;
}

body[data-theme='dark'] footer .content div ul a {
  color: #e5e5e5;
}

body[data-theme='dark'] footer .content div ul a:hover {
  color: #FFCC01;
}

/* Estilo das seções da biografia e cartões no tema escuro */
body[data-theme='dark'] .biography {
  color: #ddd;
}

body[data-theme='dark'] .biography .banner img {
  filter: brightness(90%);
}

body[data-theme='dark'] .card-content,
body[data-theme='dark'] .card {
  background: #2b2b2b;
  color: #e5e5e5;
}

body[data-theme='dark'] .depart-description {
  color: #e5e5e5;
}

body[data-theme='dark'] .dicas {
  filter: brightness(90%);
}

h1[data-theme='dark'].banner {
  color: #e5e5e5;
}

/* Estilo para a seção de servicos no modo escuro */
body[data-theme='dark'] .services {
  background-color: #1e1e1e;
  color: #e5e5e5;
}

body[data-theme='dark'] .services h1 {
  color: #ddd;
}

body[data-theme='dark'] .service-item {
  border-bottom: 1px solid #555;
  background-color: #2b2b2b;
}



body[data-theme='dark'] .service-title {
  color: #00bfae;
  /* Ajuste se necessário */
}

body[data-theme='dark'] .service-description {
  color: #ccc;
}

body[data-theme='dark'] .tooltip {
  background-color: #222;
  color: #eee;
}

/* Ajustes de estilo para o tema escuro */
body[data-theme='dark'] .hero {
  background: #121212;
}

body[data-theme='dark'] .hero .banner h1 {
  color: #fff;
}

body[data-theme='dark'] .hero .banner p {
  color: #ddd;
}

body[data-theme='dark'] .message-form h2,
body[data-theme='dark'] .departments h2,
body[data-theme='dark'] .titulocard h2,
body[data-theme='dark'] .login-form h2,
body[data-theme='dark'] .register-form h2,
body[data-theme='dark'] .appointment-form h2 {
  color: #e5e5e5;
}

body[data-theme='dark'] .titulocard {
  background: linear-gradient(135deg, #3f3f3f, #1f1f1f);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}


/* Estilo para a seção Nossos Serviços no modo escuro */
body[data-theme='dark'] .nossos-servicos {
  background-color: #1e1e1e;
  color: #e5e5e5;
}

body[data-theme='dark'] .nossos-servicos-intro p {
  color: #ccc;
}

body[data-theme='dark'] .nossos-servicos-list h1 {
  color: #fff;
}

body[data-theme='dark'] .nossos-servicos-card {
  background-color: #2b2b2b;
  border: 1px solid #333;
  color: #e5e5e5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body[data-theme='dark'] .nossos-servicos-card:hover {
  background-color: #333;
}

body[data-theme='dark'] .nossos-servicos-icon {
  color: #00bfae;
}

body[data-theme='dark'] .nossos-servicos-image {
  filter: brightness(85%);
  border-bottom: 2px solid #444;
}

body[data-theme='dark'] .nossos-servicos-content h2 {
  color: #fff;
}

body[data-theme='dark'] .nossos-servicos-description {
  color: #ccc;
}

body[data-theme='dark'] .nossos-servicos-info-button {
  background-color: #444;
  color: #00bfae;
  border: none;
}

body[data-theme='dark'] .nossos-servicos-info-button:hover {
  background-color: #555;
}

body[data-theme='dark'] .nossos-servicos-info-tooltip {
  background-color: #222;
  color: #eee;
  border: 1px solid #444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para o departamento no modo escuro */
body[data-theme='dark'] .nossos-servicos-departamentos {
  background-color: #1e1e1e;
  color: #e5e5e5;
}

@media (max-width: 1100px) {
  body[data-theme='dark'] nav .navLinks {
    background: rgba(0, 0, 0, 0.8); /* Altere o fundo das navLinks para preto */
  }
}




/* Mídia queries para dispositivos móveis */
@media (max-width: 768px) {
  .service-title {
    font-size: 1.5rem;
  }

  .service-description {
    font-size: 0.875rem;
  }

  .service-image {
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .service-icon {
    font-size: 2rem;
  }

  .service-title {
    font-size: 1.25rem;
  }

  .service-description {
    font-size: 0.75rem;
  }

  .service-image {
    max-width: 100px;
  }
}

.btn {
  padding: 7px 20px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
}

.white-btn {
  background: #fff;
  color: #111;
}

.purple-btn {
  background: #9083d5;
  color: #fff;
}

p,
span,
a {
  font-size: 20px;
}

h1 {
  font-size: 36px;
  font-weight: 900;
}

h1 {
  font-size: 36px;
  font-weight: 900;
}

h2 {
  font-size: 32px;
  font-weight: 900;
}

h3 {
  font-size: 28px;
  font-weight: 900;
}

h4 {
  font-size: 24px;
  font-weight: 900;
}

h5,
h6 {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 1186px) {
  h1 {
    font-size: 32px;
    font-weight: 900;
  }

  h2 {
    font-size: 30px;
    font-weight: 900;
  }
}

.container {
  padding: 0 100px;
}

@media (max-width: 700px) {
  .container {
    padding: 0 20px;
  }
}

/*======= HERO==========*/
.hero.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-size: cover;
  color: #FFF;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  margin-top: 8rem;
}

.hero {
  display: flex;
  gap: 50px;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}

.hero .banner {
  flex: 1;
}

.hero .banner h1,
.hero .banner p {
  max-width: 650px;
}

.hero .banner h1 {
  letter-spacing: 2px;
  word-spacing: 5px;
  font-size: 40px;
}

.hero .banner p {
  color: #111;
  letter-spacing: 2px;
}

.hero .banner span {
  position: absolute;
  right: -300px;
  top: -200px;
  z-index: -1;
}

.hero .banner:first-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.hero .banner:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.animated-image {
  max-width: 100%;
  height: auto;
  animation: moveUpDown 1s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.emergencia {
  margin-top: 20px;
}

.emergencia h6 {
  font-size: 1.2em;
  color: #07998d;
  margin-bottom: 10px;
}

.emergencia-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
  background-color: #07998d; /* verde */
  color: #FFF; /* branco */
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5em;
}

.emergencia-button a {
  border: none;
  text-decoration: none;
  color: #FFF;
}

.emergencia-button:hover {
  background-color: #a12d26; /* Um tom mais escuro de verde */
}

.emergencia-button svg {
  margin-right: 10px;
}

/* Estilo para o botão de voltar ao topo */
#voltarTopo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000; /* Garante que o botão esteja acima de outros elementos */
}

#voltarTopo button {
  background: none;
  border: none;
  cursor: pointer;
}

#voltarTopo.show {
  opacity: 1;
}

#subir {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

#subir img {
  width: 35px;
  height: auto;
  margin-bottom: 70px;
  margin-right: 19px;
}

#subir:hover {
  /* Adicione estilos para quando o botão for passado por cima */
  opacity: 0.8;
}

/* Responsividade */
@media (max-width: 1186px) {
  .hero .banner span {
    right: -400px;
  }

  .hero .banner h1 {
    font-size: 32px;
  }
}

@media (max-width: 1085px) {
  .hero .banner span {
    right: -480px;
    top: -315px;
  }
}

@media (max-width: 925px) {
  .hero {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .hero {
    padding-bottom: 40px;
  }
}

/*FORM*/

.form-component {
  padding-top: 30px;
  padding-bottom: 50px;
  border: 2px solid #FCC931;
  margin-bottom: 60px;
  background: #c6c6c670;
  box-shadow: 0px 4px 10px rgb(200, 153, 0);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  text-align: center;
  margin: 0 auto;




}

.form-component h2 {
  color: #494949;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

.form-component h4 {
  color: gray;
  font-weight: 700;
  margin-bottom: 20px;
}

.form-component p {
  max-width: 100%;
  color: rgb(128, 128, 128);
  margin-bottom: 20px;
}

.form-component form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.form-component form div {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-component form input,
.form-component form select,
.form-component form textarea {
  flex: 1;
  font-size: 23.99px;
  padding: 10px 0px 10px 40px;
  border-radius: 7px;
  border: 1px solid #FCC931;
}
.form-component form input:focus,
.form-component form select:focus,
.form-component form textarea:focus {
  border: 2px solid #FCC931;
  box-shadow: 0 0 5px #FCC931;
  outline: none;
}

.form-component button {
  padding: 10px 35px;
  color: #fff;
  font-weight: 700;
  width: fit-content;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  margin-bottom: 10px;
  background: linear-gradient(140deg, #FCC931, #685500f5);
  cursor: pointer;
}



input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="date"]:focus
textarea:focus {
  border: 2px solid #FCC931;
  box-shadow: 0 0 5px #FCC931;
  outline: none;
}

/* Estilo para quando o campo está em foco no tema escuro */
body[data-theme='dark'] .form-component input:focus,
body[data-theme='dark'] .form-component textarea:focus,
body[data-theme='dark'] .form-component select:focus {
  border-color: #377575; /* Cor da borda ao focar */
  background: #555; /* Cor de fundo ao focar */
  box-shadow: 0 0 5px rgba(13, 100, 130, 0.5); /* Sombra ao focar */
  outline: none; /* Remove o contorno padrão do navegador */
}


.form-component .wrapper {
  display: flex;
  gap: 50px;
}

.form-component .wrapper .banner {
  flex: 1;
}

.form-component .wrapper .banner:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-component .wrapper .banner:last-child img {
  max-width: 450px;
}

.login-form {
  margin: 150px auto 20px auto;
  max-width: 550px;
  text-align: center;
}

.register-form {
  max-width: 1200px;
  margin: 150px auto 20px auto;

}

.appointment-form {
  max-width: 1200px;
  text-align: center;
  margin: 50px auto 20px auto;

}

.message-form {
  max-width: 1100px;
  margin: 50px auto 20px auto;

}



.login-form h2 {
  color: #494949;
}

.register-form h2 {
  color: #494949;
}

@media (max-width: 1110px) {
  .appointment-form form div:nth-child(4) {
    flex-direction: column;
  }

  .appointment-form form div:nth-child(5) {
    flex-direction: column;
  }
}

@media (max-width: 888px) {
  .form-component {
    padding-top: 30px;
    padding-bottom: 30px;

  }

  .form-component form div {
    flex-direction: column;

  }
}

@media (max-width: 667px) {

  .form-component form input,
  .form-component form select,
  .form-component form textarea {
    font-size: 20px;
    padding: 10px;
  }
}

/* ========= SOBRE =======*/
.biography {
  position: relative;
  padding: 40px 20px;
  margin-top: 50px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden;
  display: flex;
  gap: 50px;
}

/* Criar o padrão de patas */
.biography::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/patas.png');
  
  background-size: 280px 310px;
  background-repeat: repeat;
  opacity: 0.3;
  filter: invert(0);
  /* Padrão: patas pretas no modo claro */
  z-index: 1;
}


.biography .banner:first-child {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.biography .banner:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.biography .banner p:first-child {
  font-size: 24px;
  letter-spacing: 2px;
}

.banner {
  position: relative;
  z-index: 2;
  /* Conteúdo acima do padrão de patas */
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#bannerclinica {
  width: 100%;
  max-width: 600px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.banner h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #009A8E;
  font-weight: 700;
  letter-spacing: 3px;}

.banner p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: inherit;
  /* Cor do texto conforme o modo */
}

.toggle-theme-btn {
  background-color: #009A8E;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.CTA-sobre{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

@media (max-width: 925px) {
  .biography {
    flex-direction: column-reverse;
  }
}

/* ==========  MENSAGEM ===========*/

.message-form {
  position: relative;
  padding: 2rem;
  background-color: #f7f7f7;
  /* Fundo leve para destacar o formulário */
  border-radius: 10px;
  /* Cantos arredondados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* Sombra suave para profundidade */
  max-width: 800px;
  margin: 2rem auto;
  /* Centraliza o formulário na tela */
}

.message-form h2 {
  text-align: center;
  color: #494949;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  /* Tamanho do texto ajustado */
}

.message-form form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* Espaçamento entre os elementos do formulário */
}

.message-form input,
.message-form textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: #555;
}

.message-form input:focus,
.message-form textarea:focus {
  outline: none;
  border-color: #009A8E;
  /* Cor de destaque ao focar no campo */
  box-shadow: 0 0 8px rgba(0, 154, 142, 0.2);
  /* Sombra leve ao focar */
}

.message-form textarea {
  resize: none;
}

.message-form button {
  width: 100%;
}





@media (max-width: 500px) {
  .message-form {
    padding: 1rem;
  }

  .message-form h2 {
    font-size: 1.5rem;
  }


}
/* ======== FOOTER ======== */
footer {
  padding-bottom: 30px !important;
}

footer hr {
  margin-bottom: 30px;
}
footer.container {
  background-color: #009A8E; /* Cor de fundo do rodapé */
  color: #FFF; /* Cor do texto */
  padding: 2rem;
  margin-top: 6rem;
}

footer .content {
  display: flex;
  gap: 20px;
}

footer .content div {
  flex: 1;
}

footer .content div:nth-child(3) {
  flex: 2;
}

footer .content div h4 {
  font-weight: 700;
  margin-bottom: 20px;
}

footer .content div ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .content div ul a {
  color: gray;
  text-decoration: none;
}

footer .content div ul a:hover {
  color: #8570ed;
  transition: 0.3s;
}

footer .content div ul li span {
  color: gray;
}

.footer-direito {
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  font-size: 0.875rem;
  color: #fff;
}


footer .content div ul li span:first-child {
  width: 150px;
  display: inline-block;
}

footer .content div:last-child div {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}
.perfil{
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil ul {
  display: flex; /* Alinha os itens horizontalmente */
  margin: 0; /* Remove a margem padrão da lista */
  list-style-type: none; /* Remove os marcadores de lista */

}

.perfil ul li {
  margin-right: 10px; /* Adiciona espaço entre os itens */
}

.perfil ul li a {
  font-size: 30px;
}

footer .content div:last-child div svg {
  font-size: 24px;
  color: white;
}

@media (max-width: 1135px) {
  footer .content {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer .content div,
  footer .content div:nth-child(3) {
    flex: none;
    width: 340px;
    margin-bottom: 30px;
  }
}

@media (max-width: 900px) {
  footer {
    padding-bottom: 0 !important;
  }

  footer .content div,
  footer .content div:nth-child(3) {
    width: 100%;
  }
}

@media (max-width: 390px) {
  footer .content div:nth-child(3) ul li {
    display: flex;
    flex-direction: column;
  }
}




footer .links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h4 {
  margin-bottom: 1rem;
  color: #FFF; /* Garantir que os títulos também sejam brancos */
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 0.5rem;
  color: #FFF; /* Garantir que o texto dos itens da lista seja branco */
  display: flex; /* Adiciona flexbox para alinhamento dos itens */
  justify-content: space-between; /* Alinha o dia e o horário */
  font-size: 0.9rem; /* Ajusta o tamanho da fonte para melhor aparência */
}

footer ul li span {
  display: inline-block;
  color: #FFF; /* Garantir que o texto dentro dos spans seja branco */
  margin-left: 1rem; /* Adiciona espaço entre o dia e o horário */
}

footer a {
  color: #FFF; /* Garantir que os links sejam brancos */
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer a:hover {
  text-decoration: underline; /* Substitua pelo estilo de destaque desejado */
}

footer .logo-img {
  max-width: 30rem;
  height: auto;
}



@media (max-width: 768px) {
  footer .links ul a {
      flex-direction: column;
      text-align: center;
  }

  footer .logo-img {
      margin: 0 auto 1rem;
  }

  footer ul li {
      flex-direction: column;
      align-items: center;
  }
}



/* Container dos ícones */
/* Estilo básico para os ícones sociais */
.social-icons {
  display: flex;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social-icons ul li {
  display: flex;
}

.social-icons ul li a {
  font-size: 25px;
  transition: transform 0.3s, opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Ajuste o tamanho conforme necessário */
  height: 40px; /* Ajuste o tamanho conforme necessário */
  text-decoration: none; /* Remove o sublinhado do link */
}






/*========= DEPARTAMENTOS =========*/

.departments {
  padding-top: 30px;
  padding-bottom: 50px;
}

.departments h2 {
  color: gray;
  margin-bottom: 30px;
}

.card {
  position: relative;
  border-radius: 15px; /* Mantendo o border-radius final de 15px */
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 20px 15px 10px; /* Ajustando padding para combinar com a altura mínima */
  min-height: 360px;
  margin: 12px 10px;
  text-decoration: none;

}

.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.card .depart-name {
  margin-bottom: 30px;
  background: #e5e5e5;
  width: 320px;
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 30px;
  left: 0;
  height: fit-content;
  font-weight: 700;
}

.btn-cta {
  background: linear-gradient(140deg, #009688, #004d40);
    padding: 12px 24px;
  border-radius: 7px;
  cursor: pointer;
  border: transparent;
  margin-top: 3rem;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;

}

.btn-cta:hover {
  background: #007569;
}

.container.departments {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
}

h2 {
  font-size: 2.5rem; /* Aumentar o tamanho do título */
  margin-bottom: 40px;
  color: #009a8e;
  text-transform: uppercase;
}



.card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
  border: 2px solid #FFCC01;
}

.card-image {
  width: 100%;
  height: 200px; /* Ajustar a altura para melhorar a visualização */
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  border-bottom: 5px solid #009a8e;
}

.card:hover .card-image {
  transform: scale(1.05);
}

.card-content {
  padding: 20px; /* Aumentar o padding para melhor espaçamento */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute; /* Posicionar absolutamente para mover o título para baixo no hover */
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9); /* Fundo branco semi-transparente */
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-content {
  transform: translateY(100%);
}

.depart-name {
  font-size: 1.8rem; /* Aumentar o tamanho da fonte do nome */
  color: #009a8e;
  margin: 10px 0;
  transition: color 0.3s ease-in-out;
  word-break: break-word; /* Quebra de linha se necessário */
}

.card:hover .depart-name {
  color: #FFCC01;
}

.depart-description {
  font-size: 1rem; /* Aumentar o tamanho da fonte da descrição */
  color: #666;
  line-height: 1.6; /* Aumentar o espaçamento entre linhas */
  margin-bottom: 10px;
  max-height: 100px; /* Limitar a altura para evitar texto muito longo */
  overflow: hidden; /* Ocultar o texto que excede o limite */
  text-overflow: ellipsis; /* Adicionar reticências se o texto for muito longo */
}

@media (max-width: 1005px) {
  .card-image {
    height: 180px;
  }
  
  .depart-name {
    font-size: 1.6rem; /* Ajustar o tamanho do subtítulo em telas menores */
  }

  .depart-description {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .card-image {
    height: 160px;
  }
  
  .depart-name {
    font-size: 1.4rem; /* Ajustar o tamanho do subtítulo em telas menores */
  }

  .depart-description {
    font-size: 0.95rem;
  }
}

/*****************************************NAVBAR*****************************************************************************/
nav {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  z-index: 2;
}

nav .logo {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 2rem;
}



nav .navLinks {
  flex: 2;
}

nav .navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .navLinks .links {
  display: flex;
  gap: 25px;
}

nav .navLinks .links a {
  text-decoration: none;
  color: #ffffff;
  font-size: px;
  font-weight: 600;
  letter-spacing: 1.4px;
}

nav .navLinks .links a:hover {
  color: #FFCC01;
  transition: 0.3s;
  cursor: pointer;
}

/* Navegação */
nav.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #009A8E; /* Cor de fundo padrão */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Imagem do logo */
.logo img {
  width: 400px;
  height: auto;
}

/* Estilo para links ativos */
.navLinks .links .active {
  color: #FFD700; /* Cor amarela */
  font-weight: bold; /* Negrito opcional */
}
.iconesmenu{
  display: flex;
}

nav .btn {
  color: #e5e5e5;
  background: transparent;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  z-index: 2;
  cursor: pointer;
}

.logoutBtn :hover{
  color: #FFD700;
}
.loginBtn :hover{
  color: #FFD700;
}
.agendamento :hover{
  color: #FFD700;
}
.themeToggleBtn :hover{
  color: #FFD700;

}



nav .hamburger {
  display: none;
  cursor: pointer;
}

nav svg {
  font-size: 1.75rem;
  color: rgb(255, 255, 255);
}



@media (max-width: 1520px) {
  nav {
    min-width: 100%;
    padding: 25px 20px 40px 20px;
  }
}

@media (max-width: 1100px) {
  nav {
    background: #ffffffbf;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  nav .hamburger {
    display: flex;
    cursor: pointer;
  }

  nav .navLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centraliza os itens verticalmente */
    align-items: center;
    /* Alinha os itens horizontalmente */
    z-index: 2;
    transition: 0.3s;
    position: fixed;
    left: 0;
    top: 144px;
    height: 100%;
    width: 300px;
    /* Ajusta a largura para um valor mais razoável */
    background: rgba(7, 153, 141, 0.8);
    /* Altere a opacidade se necessário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .nav .navLinks .links a {
    font-size: 10px;
    /* Altera o tamanho do texto */
    padding: 15px;
    /* Adiciona padding para separar os links */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    /* Adiciona uma borda inferior com uma opacidade mais suave */
    transition: background 0.3s, color 0.3s;
  }

  nav .navLinks a:hover {
    background: rgba(255, 255, 255, 0.2);
    /* Define o fundo dos links ao passar o mouse */
    color: #FFD700;
    /* Altera a cor do texto ao passar o mouse */
    border-radius: 5px;
    /* Adiciona bordas arredondadas aos links */
    transition: background 0.3s, color 0.3s;
  }

  nav .showmenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 7.5px;
    z-index: 2;
    transition: 0.3s;
    position: fixed;
    left: -100%;
    width: 400px;
    height: 100%;
    background: #07998dc0;
    top: 133px;
  }




  nav .navLinks .links {
    flex-direction: column;
    text-align: center;
  }

  nav .navLinks .links a {
    font-weight: 700;
  }

  nav .logoutBtn {
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  nav .showmenu {
    width: 96vw;
  }
}

@media (max-width: 650px) {
  nav .showmenu {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
}

@media (max-width: 555px) {
  nav {
    background: #fff;
  }

  nav .navLinks {
    background: #07998dc0;
    width: 100%;
  }
}

input[type="date"]:before {
  content: attr(placeholder);
  color: rgb(128, 128, 128);
  margin-right: 0.5em;
}

input[type="time"]:before {
  content: attr(placeholder);
  color: rgb(128, 128, 128);
  margin-right: 0.5em;
}

.logo-img {
  width: 150px;
}

.logo-img:hover {
  opacity: 0.8;

}

footer .logo-img {
  width: 100%;
}

footer .logo-img:hover {
  opacity: 0.8;

}

.delete-icon {
  color: #e63320;
  cursor: pointer;
}

.delete-icon:hover {
  opacity: 0.8;
}


/* =================================================================*/

/*servicos*/

.services {
  padding: 4rem 2rem;
  background-color: #fafafa;
  min-height: 100vh;
}

.services h1 {
  color: gray;
  margin-bottom: 30px;
  text-align: center;
}

.services-container {
  max-width: 1200px;
  margin: 0 auto;
}

.service-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
  flex-wrap: wrap;
}

.service-icon {
  font-size: 2rem;
  color: #009A8E;
  margin-right: 1.5rem;
  flex-shrink: 0;
}

#maozinha {
  cursor: pointer;
}

.service-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service-title {
  font-size: 1.75rem;
  color: #009A8E;
  margin-bottom: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.service-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.service-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.tooltip {
  background-color: #009A8E;
  color: #fff;
  border-radius: 4px;
  padding: 5px 10px;

}


@media (max-width: 768px) {
  .service-title {
    font-size: 1.5rem;
  }

  .service-description {
    font-size: 0.875rem;
  }

  .service-image {
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .service-icon {
    font-size: 2rem;
  }

  .service-title {
    font-size: 1.25rem;
  }

  .service-description {
    font-size: 0.75rem;
  }

  .service-image {
    max-width: 100px;
  }
}

/* Estilos para o componente NossosServicos */

.nossos-servicos {

  background-color: #f5f5f5;
}

.nossos-servicos-intro {
  text-align: center;
  margin-bottom: 40px;

}

.nossos-servicos-intro p {
  font-size: 1rem;
  color: #666;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5rem;
}

.nossos-servicos-list h1 {
  text-align: center;
  font-size: 2rem;
  color: #009A8E;
  margin-bottom: 30px;
}

.nossos-servicos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 colunas */
  gap: 20px;
  justify-content: center;
  /* Centraliza os itens horizontalmente */
  margin: 0 auto;
  max-width: 1200px;
  /* Limita a largura do contêiner */
  overflow-x: hidden;
  /* Evita a rolagem horizontal */
  padding: 0 10px;
  /* Adiciona padding horizontal */
}

@media (max-width: 1200px) {
  .nossos-servicos-container {
    grid-template-columns: repeat(2, 1fr);
    /* 2 colunas em telas menores */
  }
}

@media (max-width: 768px) {
  .nossos-servicos-container {
    grid-template-columns: 1fr;
    /* 1 coluna em telas menores */
  }
}

.nossos-servicos-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 50px;
  text-align: center;
  transition: transform 0.3s ease;
  width: 100%;
  /* Ajusta o tamanho do card */
  max-width: 300px;
  /* Define uma largura máxima para o card */
}

.nossos-servicos-icon {
  font-size: 2rem;
  color: #009A8E;
  margin: 20px 0;
}

.nossos-servicos-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.nossos-servicos-content {
  padding: 20px;
}

.nossos-servicos-title {
  font-size: 1.25rem;
  /* Reduz o tamanho da fonte */
  color: #333;
  margin: 10px 0;
}

.nossos-servicos-description {
  font-size: 0.875rem;
  /* Reduz o tamanho da fonte */
  color: #666;
  margin-bottom: 10px;
}

#maismenos {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #007569;
}

.nossos-servicos-info-button:hover {
  color: #07998d74;
}

.nossos-servicos-info-tooltip {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  font-size: 0.875rem;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nossos-servicos-departamentos {
  margin-top: 40px;
}

#CTAservico {
  margin-left: 37rem;
  
}


/* Agendamentos.css */

/* Estilos para o tema claro */
.appointments {
  padding: 2rem;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff; /* Fundo claro */
  color: #000000; /* Texto escuro */
}

h1 {
  font-size: 2rem;
  color: #000000; /* Texto escuro */
  margin-bottom: 1rem;
  text-align: center;
}

.banner {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  border: 1px solid #ddd; /* Cor da borda da tabela */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #009A8E; /* Cor de fundo do cabeçalho da tabela */
  color: #ffffff; /* Texto branco */
}

thead th {
  padding: 0.75rem;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #ddd; /* Cor da borda das linhas */
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Cor de fundo das linhas pares */
}

tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Cor de fundo das linhas ímpares */
}

tbody td {
  padding: 0.75rem;
  text-align: left;
}

#valores {
  border: none;
  background-color: transparent;
  appearance: none;
  font-size: 17px;
  font-weight: 600;
}

.value-pending {
  color: #ffb347; /* Laranja para Pendente */
}

.value-accepted {
  color: #27ae61; /* Verde para Aceito */
}

.value-rejected {
  color: #e74c3c; /* Vermelho para Rejeitado */
}

.green {
  color: #27ae61; /* Verde para Aceito */
  font-size: 1.5rem;
}

.red {
  color: #e74c3c; /* Vermelho para Rejeitado */
  font-size: 1.5rem;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  table {
      font-size: 0.875rem;
  }

  thead th {
      padding: 0.5rem;
  }

  tbody td {
      padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .appointments {
      padding: 1rem;
  }

  h1 {
      font-size: 1.5rem;
  }

  table {
      font-size: 0.75rem;
  }

  select {
      font-size: 0.875rem;
  }
}

/* Estilos para o tema escuro */
body[data-theme='dark'] .appointments {
  background-color: #1e1e1e; /* Fundo escuro */
  color: #e0e0e0; /* Texto claro */
}

body[data-theme='dark'] h1 {
  color: #e0e0e0; /* Texto claro */
}

body[data-theme='dark'] table {
  border: 1px solid #333; /* Cor da borda da tabela */
}

body[data-theme='dark'] thead {
  background-color: #009A8E; /* Cor de fundo do cabeçalho da tabela */
  color: #e0e0e0; /* Texto claro */
}

body[data-theme='dark'] tbody tr {
  border-bottom: 1px solid #333; /* Cor da borda das linhas */
}

body[data-theme='dark'] tbody tr:nth-child(even) {
  background-color: #2c2c2c; /* Cor de fundo das linhas pares */
}

body[data-theme='dark'] tbody tr:nth-child(odd) {
  background-color: #1e1e1e; /* Cor de fundo das linhas ímpares */
}

body[data-theme='dark'] .value-pending {
  color: #ffb347; /* Laranja para Pendente */
}

body[data-theme='dark'] .value-accepted {
  color: #27ae61; /* Verde para Aceito */
}

body[data-theme='dark'] .value-rejected {
  color: #e74c3c; /* Vermelho para Rejeitado */
}

body[data-theme='dark'] .green {
  color: #27ae61; /* Verde para Aceito */
}

body[data-theme='dark'] .red {
  color: #e74c3c; /* Vermelho para Rejeitado */
}



/* Estilos restantes */
.titulocard {
  display: flex;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(135deg, #f9f9f9, #e0e0e0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.titulocard h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #333;
  text-align: center;
  font-size: 1.6em;
  margin: 0;
}



/*============ CARDDICAS ==========*/

/* Container dos cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
}

/* Estilos dos cards */
.dicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 20px;
  background: #ffffff;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 1px solid #e0e0e0;
}

.dicas.expanded {
  height: auto;
}

.dicas:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  background-color: #f0f8ff;
}

.dicas img {
  height: 120px;
  width: auto;
  margin-bottom: 15px;
  filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.2));
}

.card-title {
  font-family: "Montserrat", sans-serif;
  margin: 10px 0;
  color: #07998d;
  font-size: 1.4em;
  text-align: center;
}

/* Cards descrição e exemplo */
.card-description,
.card-examples {
  color: #666;
  font-size: 0.9em;
  text-align: center;
  margin: 10px 0;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

/* Ajustes para a descrição */
.card-description {
  display: block;
  max-height: 200px; /* Ajustado para um valor fixo */
  overflow: hidden;
  opacity: 1; /* Opacidade padrão */
}

/* Ajustes para o exemplo */
.card-examples {
  display: block;
  max-height: 200px; /* Ajustado para um valor fixo */
  overflow: hidden;
  opacity: 1; /* Opacidade padrão */
}

/* Responsividade */
@media (max-width: 1024px) {
  .card-container {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

@media (max-width: 768px) {
  .card-container {
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

@media (max-width: 480px) {
  .card-container {
      grid-template-columns: 1fr;
  }
}

